#root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-header{
  min-width: 200px;
  text-align: start;
  padding: 20px 0;
}

.page-size-container{

  margin: 25px 0;
}
.pagination-option{
  display: inline-block;
  text-align: center;
  min-width: 20px;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
}